<div id="search-component">
    <h4><label for="search-box">Hero Search</label></h4>
  
    <!--The event binding to the textbox's input event calls the search() method-->
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" > <!--iterates over a list called heroes$ (It is an Observable, not an array)-->
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>